* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #00796b;
  --foreground-color: #0F1419;
  --background-color: white;
  --gray-dark-color: #66757F;
  --gray-light-color: #edeff1;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "aside main";
  min-height: 100vh;
  background-color: var(--accent-color);
}

.app-container header {
  grid-area: header;
  background-color: var(--accent-color);
}

.app-container aside {
  grid-area: aside;
  color: var(--gray-light-color);
  box-shadow: none;
}

.app-container main {
  grid-area: main;
  overflow-y: auto;
  background-color: var(--background-color);
  border-radius: 16px;
  margin: 0px 8px 8px 0px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.login-page, .register-page {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: var(--accent-color);
}

.login-page__hero, .register-page__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--background-color);
}

.login-page__main, .register-page__main {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-direction: column;
  padding: 64px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  margin: 16px;
  background-color: var(--background-color);
}

.login-page__main h2, .register-page h2 {
  font-weight: 300;
  font-size: 48px;
}

.login-input, .register-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 850px) {
  .login-page, .register-page {
    grid-template-columns: 1.25fr 1fr;
  }
}